.color
  %ul
    %li.anchor-news
      %a{:style => "background:#5094be;"}
    %li.anchor-info
      %a{:style => "background:#78a0c2;"}
    %li.anchor-want
      %a{:style => "background:#b798a8;"}
    %li.anchor-quest
      %a{:style => "background:#d88e96;"}
    %li.anchor-orgs
      %a{:style => "background:#eb8489;"}
