#page7
  .cent
    .bg_text
      %p.tet
        10000011100100010010110010000010000110010001000001000100100010000111110100001110
        10100001101010010000010000111110100010000100010000010001000010100001100101000011
        11101000011010110000111001001000001000100000110000111110100001111101000011000110
        00100000010000110000100001101111000011100010001000010100001101011000011101110001
        00110010000111101100001111101000100000110001000010100001110000010000100100000001
        01001001010010010100100100000100001001011000011111010001000111100001101011000100
        10001000100110000100000100001111111000011111010001000001100001111001000011111010
        00100001010001000000100001101011000100001010001001100001011000010000010001000111
        10001000010100001111100010000010000111100100010010110010000010000110100100001110
        11100010011110010000010001000010100001101011000011000110001001111001000001000011
        11111000100000010000111000100001100111000011111010001000010100001111101000011001
        01000011100010000111011100001110000011111100100000100000101101000011110010000111
        0000010000001110000001010110111001000101011011011110010101101100111

