= javascript_include_tag "http://platform.twitter.com/widgets.js"
= link_to "Tweet", "http://twitter.com/share", rel: "nofollow", class: "twitter-share-button",
  data: { count: "horizontal", via: "", lang: "ru" }
