- content_for :header do
  .header.min-height
    .bg_l
    .bg_r
    .logo
      %p
        = link_to root_path do
          = image_tag 'logo.png'

#page3
  .cent
    = render 'form', url: members_path

