setup: &setup
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *setup
  database: programmers_day_development
  username: postgres
  password:

test:
  <<: *setup
  database: programmers_day_test
  username: postgres
  password:
  host: /var/run/postgresql

staging:
  <<: *setup
  database: programmers_day_staging
  username: programmers_day_staging
  password: xhwbX3QOWjFf8djQThIBi

production:
  <<: *setup
  database: programmers_day_production
  username: programmers_day_production
  password:
