= link_to t('.programmers_day'), root_path, class: :brand
.container.nav-collapse
  %ul.nav
    %li= link_to t('.pages'), admin_root_path
    %li= link_to t('.users'), admin_users_path
    %li= link_to t('.news'), '#'

