/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jcarousel-skin
 *= require_self
 */

html {
  background: #292727;
}

.landing-bottom {
  margin-bottom: 50px;
}

.span4.landing-top {
  padding-top: 15px;
}

.social table td.vk_like {
  padding-right: 7px;
}

.social table td.fb_like {
  padding-right: 33px;
}

div.news {
}

footer {
  text-align: center;
  background: #292727;
  color: #fff;
}
