/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fancybox
 *= require style
 *= require skin
 *= require_self
 */

.header.min-height {
  height: 82px;
}

.alert {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: relative;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert .close {
  float: right;
  margin: 0 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.alert-success {
  background: #DFF0D8;
  color: #468847;
}

.alert-error {
  background: #F2DEDE;
  color: #B94A48;
}

.social table {
  margin: 0 auto;
}

.social table td.vk_like {
  padding-right: 7px;
}

.social table td.fb_like {
  padding-right: 33px;
}

input::-webkit-input-placeholder {
  color: #706f6f;
}
input:-moz-placeholder {
  color: #706f6f;
}
input:-ms-input-placeholder {
  color: #706f6f;
}

input.boolean {
  margin: 0 10px 0 -10px;
}

.error .help-inline {
  color: red;
  display: block;
}

#page5 table {
  margin: 20px auto;
}

#page5 table td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.text { 
  padding: 18px 18px 12px 18px; 
  font-size: 15px; 
  line-height: 18px; 
}
